
body{
	background: #ccc;
}
.login_token{
    margin-top: 50px;
}
label{
	margin-top: 20px;
	font-size: 22px;
}

input{
	margin-top: 10px;
	padding: 8px 20px;
}
.bbt{
	padding: 8px 110px;
	background-color: green;
	color: white;
	font-size: 25px;
}
.bbt:hover{
	background-color: yellow;
	color: black;
}

.all{


}

.exam_head{
	color: white;
	margin-top: 30px;
	margin-top: 70px;
	background: #aaa;
	text-align: center;
}
.exam-btn{
	padding: 10px 200px;
	color: white;
	margin-top: 20px;
	margin-left: 450px;
	background-color: green;
	text-align: center;

}
.exam-btn:hover{
	color: yellow;
}
.clock-custom{
	background: white;
	color: green;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 35px;
	text-align: center;
}

.questions{
	margin-top: 100px;
	float: left;
	margin-left: 150px;
}
.question{
	color: black;
}
.massage{
	text-align: center;
	color: green;
	margin-top: 200px;
}
.massage-btn{
	text-align: center;
	margin-left: 462px;
	padding: 10px 200px;
}
.token{
	text-align: center;
}